$primary-color: #3F51B5;
$small: 320px;
$large: 1024px;


@media only screen and (min-width: $large) {
  .left-menu-button {
    display: none;
  }

  header, main, footer {
    padding-left: 300px;
  }

  .container {
    width: 85%;
  }
}

@media only screen and (min-width: $small + 1) and (max-width: $large - 1) {

}

@media only screen and (max-width: $small) {
  header, main, footer {
    padding-left: 0;
  }
}

.indigo {
  .input-field {
    color: rgba(255, 255, 255, 0.87);
    border-color: rgba(255, 255, 255, 0.87);

    label {
      color: rgba(255, 255, 255, 0.26);

      &.active {
        color: rgba(255, 255, 255, 0.87);
      }
    }

    abbr {
      text-decoration: none;
      border-bottom: none;
    }

    input {
      width: 60%;
      transition: width 0.3s ease-in-out;
      border-color: rgba(255, 255, 255, 0.87);

      &:focus {
        width: 100%;
        border-color: rgba(255, 255, 255, 0.87);
        box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.87);
        outline: none;
      }
    }
  }
}
